.button {
  margin-bottom: 10px;
  border: none;
  padding: 10px 15px;
  border-radius: 30px;
  box-sizing: border-box;
  vertical-align: middle;
  outline: none;
  letter-spacing: 1px;
  transition: 0.3s ease;
  min-width: 100px;
}
.default {
  background: #208cd5;
  color: #fff;
}
.default:hover {
  box-shadow: 0 0 6px 1px rgb(51 150 217);
  cursor: pointer;
  transition: 0.3s ease;
}
.default:disabled {
  background: #989898;
  color: #e1e1e1;
}
.default:disabled:hover {
  cursor: default;
  box-shadow: none;
}
.red {
  background: #e54f4f;
  border: none;
  color: #fff;
  box-shadow: -2px 3px 15px 0 rgb(30 98 150 / 15%);
}
.red:hover {
  box-shadow: 0 0 6px 1px rgb(255 91 91);
  cursor: pointer;
  transition: 0.3s ease;
}
