.wrapper {
  margin-left: 20px;
}
.error {
  outline: none;
  border: 2px solid red;
  border-radius: 5px;
}
.errorText {
  height: 20px;
}
.input {
  outline: none;
  border: 2px solid green;
  border-radius: 5px;
}
.btnAdd {
  margin-left: 10px;
  border-radius: 5px;
}
